---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import AuthorList from "../components/AuthorList.astro";
import TopicList from "../components/TopicList.astro";
import { Image } from "astro:assets";
import { ViewTransitions } from "astro:transitions";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, authors, topics } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>

  <body>
    <Header transition:persist />
    <main class="container">
      <article class="prose mx-auto dark:prose-invert">
        {
          heroImage && (
            <Image width={661.17} height={330.5} src={heroImage} alt="" />
          )
        }
        <h1 class="title">{title}</h1>
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
        <hr />
        <slot />
        <footer>
          {
            topics.length > 0 && (
              <>
                <h2>Topics</h2>
                <TopicList topics={topics} />
              </>
            )
          }
          {
            !!authors.length && (
              <>
                <h2>Author{authors.length > 1 ? "s" : ""}</h2>
                <AuthorList
                  class="author-list grid list-none grid-cols-1 gap-4 pl-0"
                  authors={authors}
                  headingLevel={3}
                  showPosts={false}
                />
              </>
            )
          }
        </footer>
      </article>
    </main>
    <Footer />
    <style is:global>
      .author-list > li {
        @apply rounded-3xl border-2 border-gray-600;
      }
    </style>
  </body>
</html>
